@model DataLayer.Page

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>آیا مطمئن هستید که می خواهید این را حذف کنید؟</h3>
<div>
    <h4>اخبار</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PageGroup.GroupTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageGroup.GroupTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        
        <dt>
            @Html.DisplayNameFor(model => model.visit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.visit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>

        <dd>
            <img src="~/PageImages/@Model.ImageName" class="thumbnail" style="max-width: 150px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowInSlider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowInSlider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("باز گشت", "Index")
        </div>
    }
</div>
