@model DataLayer.Page

@{
    ViewBag.Title = "ShowNews";
}

<style>
    .single-news img{
        max-width: 100%;
    }
</style>
<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">خانه </a></li>
    <li class="breadcrumb-item"><a href="/Archive">اخبار </a></li>
    <li class="breadcrumb-item"><a href="#"></a>@Model.PageGroup.GroupTitle</li>
    <li class="breadcrumb-item active">@Model.Title </li>
</ul>



<section class="single-news border-radius">
    <header><h2> @Model.Title </h2> <span> <i class="fa fa-calendar"></i>  انتشار : @Model.CreatDate.ToShamsi()</span></header>
    <article>
        <p>
            @Model.ShortDescription
        </p>
        <div>
            <img src="~/PageImages/@Model.ImageName" class="thumbnail" style="max-width:100%;margin: 10px auto" />
        </div>
        <p>
            @Html.Raw(Model.Text)
        </p>
    </article>
</section>

<div class="keywords border-radius">
    @foreach (var item in Model.Tags.Split(','))
    {
        <a href="/Search?q=@item">@item</a>
    }
</div>



<section class="comment-layer">
    <header> <i class="fa fa-comments"></i><h5> دیدگاه کاربران </h5><span> @Model.pageComments.Count دیدگاه </span> </header>
    <ul id="commentList">
        @Html.Action("ShowComments")
    </ul>


    <h6> شما هم دیدگاه خود را ارسال کنید </h6>
    <form class="comment-form" action="" method="post">
        <div>
            <input placeholder=" نام و نام خانوادگی" type="text" id="txtName">
            <input placeholder=" ایمیل خود را وارد نمایید " type="email" id="txtEmail">
        </div>
        <textarea placeholder=" متن دیدگاه" id="txtComment"> </textarea>
        <input value="ثبت دیدگاه   " type="button" onclick="addComment()">
    </form>
</section>

<script>
    function addComment() {
        $.ajax({
            url: "/News/AddComment/"+@Model.PageID,
            type: "Get",
            data: { name: $("#txtName").val(), emil: $("#txtEmail").val(), Comment: $("#txtComment").val() }
        }).done(function (result) {

            $("#commentList").html(result);
            $("#txtName").val("");
            $("#txtEmail").val("");
            $("#txtComment").val("");
        });
    }
</script>